table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #ddd;
  color:azure;
  text-align: center;
}

th {
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  text-align: center;
}

button {
  cursor: pointer;
}
