<section class="bg-gradient">
  <div class="container">
    <div class="row">
      <h1 class="text-success text-center mt-5">الاستعلام عن صنف</h1>

      <table class="table table-bordered table-hover mt-5 table-light text-center" style="direction: rtl; font-size: larger;">
        <thead>
          <tr>
            <th>كود الصنف</th>
            <th> أسم الصنف</th>
            <th> السعر</th>
          </tr>

        </thead>
        <tbody>
          <tr style="height: 100px; text-align: center; vertical-align: middle;">
            <td>
              <input class="text-center" type="text" [(ngModel)]="productCode" (keyup.enter)="searchProduct()" style="font-size: 20px; font-weight: bold;">
            </td>
            <td>
              <input class="text-center" type="text" readonly value="{{ foundProduct?.name }}"style="font-size: 20px;font-weight: bold;">
            </td>
            <td>
              <input class="text-center" type="text" readonly value="{{ foundProduct?.price }}"style="font-size: 20px;font-weight: bold;">
            </td>
          </tr>
        </tbody>


      </table>
    </div>
  </div>
</section>
